@import 'parciales/_header.scss';
@import 'parciales/_abaut.scss';
@import 'parciales/_animaciones.scss';
body{
    margin: 0;
    padding: 0;
}
*{
    // outline: 1px solid red;
}
$font-title:'Lobster Two', cursive;
#myNavbar{
    float: right;
}

#espacio{
    height: 10vh;
}
#aboutme{
    h1{
        font-family: $font-title;
        
    }
}
#perfil{
    border-radius: 700px;
    height:300px ;
}

#habilidades{
    height: 100vh;
    h1{
        font-family: $font-title;
        font-weight: bold;
    }
    #icon{
        width: 60%;
    }
}
#portafolio{
    h1{
        font-family: $font-title;
        font-weight: bold;
    }
    #proyectos{
        width: 100%;
        
    }
    height: 100vh;
}
#contacto{
    h1{
        font-family: $font-title;
        font-weight: bold;
    }
    height: 100vh;
}
footer{
    background: black;
    color: rgba(78, 76, 76, 0.904);
    padding: 10vh;
}