#aboutme{


     .titulo{
        // margin-top: 10vh;
        margin-bottom: 40px;
        hr{
            height: 1px;
            background: rgb(247, 6, 86);
            width: 60%;
            border: 0.5px solid rgb(247, 6, 86);
            // position: absolute;
        }
         h1{
            position: relative;
            margin-top: 0px;
            color: black;
            font-weight: bold;
        }
        #izquierda{
            margin-right: -5px;
        }
        #derecha{
            margin-left: -5px;
        }  
    }
    #perfil{
        height:350px;
        width: 50%;
    }
    #svg{
        height: 200px !important;
        width: 200px !important;
    }
}