/* ------ABOUT ME ------*/
#aboutme{
	padding: 8em 0;
}

.img-aboutme{
	width: 18em;
	height: auto;
	margin: 1em 0;
}

.presentacion{
	justify-content: center;
	padding: 2em 2em 3em 2em;
	font-size: 1.3em;
}

.mythings{
	margin: 0 auto;
	font-size: 1.2em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	padding: 1.5em 0px;
	background-color: #f75353;
	border: 1px solid #f75353;
	color: white;
	text-shadow: 1px 1px gray;
	border-radius: 3px;
	box-shadow: 0.5px 0.5px gray;
	transition: all 0.7s ease;
}

.mythings:hover{
	background-color: white;
	color: #f75353;
	border: 1px solid #f75353;
	text-shadow: none;
	box-shadow: none;
}

.icon-things{
	display: block;
	font-size: 1.8em;
	margin: 0.6em 0px;
}
